<div class="list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://miro.medium.com/v2/resize:fit:2000/format:webp/1*QIGSyZy_l3H-vJ61xvLTbQ.jpeg)">
  <h2>
  <%= @list.name%>
  </h2>
</div>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
      <ul class="nav-item"><%= link_to "Add a movie", new_list_bookmark_path(@list) %> </ul>
      <ul class="nav-item"><%= link_to "Add a new list", new_list_path(@list) %></ul>
      <ul class="nav-item"><%= link_to "Back to lists", lists_path %></ul>
      <ul class="nav-item"><%= link_to "Delete list", list_path(@list),
      data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></ul>
    </div>
</div>

    <%# <a class="btn btn-ghost" href="<%=list_path(list)%>

<div class="row">
<div class="side">
  <h3> Add your review </h3>
  <% if @list.reviews.empty? %>
  <small><em class="text-muted"> Be the first to review </em></small>
  <% end %>
  <% @list.reviews.each do |review| %>
    <div>
      <% review.rating.times do %>
      <i class="fas fa-star star-yellow"></i>
      <% end %>
      <p class="mb-0"><%= review.content %></p>
    </div>
  <% end %>
  <%= simple_form_for([@list, @review]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content, placeholder: "Add your review here...", label: false %>
    <%= f.input :rating, as: :select, collection: (1..5), required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
    </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-ghost" %>
  </div>
  <% end %>
</div>


<div class="main">
  <% @list.bookmarks.each do |bookmark| %>
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="Card image cap">
        <div class="card-body">
    <h5 class="card-title"><%= bookmark.movie.title %> - <%= bookmark.movie.rating %></h5>
    <p class="card-text"><%= bookmark.movie.overview %></p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">"<%= bookmark.comment%>"</li>
    <ul> <%= link_to 'Delete', bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </div>
    <% end %>
    </ul>
    </ul>
</div>
</div>

